.ol-tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
  }
  .ol-tooltip-static {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  .ol-tooltip-measure {
    opacity: 1;
    font-weight: bold;
  }
  